.venv/
.vscode

# Python
__pycache__/
*.pyc
*.pyo
.Python

# Node
node_modules/
.npm

# Environment variables
.env
.env.local

# Database
db.sqlite3
*.sqlite3

# Media files (user uploads)
media/

# Logger files
logs/
*.log
