@import 'tailwindcss';



/* @theme {
    /* examples */
    /* --font-display: "Satoshi", sans-serif;
    --font-poppins: Poppins, sans-serif;
    
    --breakpoint-3xl:120rem;

    --color-mint-500: oklch(0.72 0.11 178); */
    /* END examples */
/* } */


/* Define default base styles for specific HTML elements */
    /* Use existing Tailwind utility classes with the @apply directive */
    /* Use the @variant directive to apply a Tailwind variant within custom CSS */
@layer base {
    h1 {
        font-size: var(--text-3xl);
        @apply m-1.5
    }

    h2 {
        font-size: var(--text-2xl);
        @apply m-1
    }
    

    button {
        @apply m-1 py-1 px-4 text-white rounded-sm ring ring-cyan-700 bg-cyan-500;
        @apply cursor-pointer hover:bg-cyan-600 active:bg-cyan-700 active:scale-95 transition-colors duration-300;
    }

    label {
        @apply mb-1 font-medium
    }

}

/* Use the `components` layer to define styles for more complicated classes
    (ex. `btn`, `card`,...
 */
@layer components {
    .error {
        color: var(--color-red-600);
    }


    .input {
        @apply py-1 px-2 bg-gray-50 rounded-sm inset-shadow-xs inset-shadow-black/30 focus:inset-shadow-sm;
        @apply outline-1 outline-gray-300 -outline-offset-1 focus:outline-2 focus:-outline-offset-2 focus:outline-gray-500;
        @apply transition-colors duration-300;
        /* change outline color */
    }

    .btn-danger {
        @apply text-sm rounded-sm text-white ring ring-red-800 bg-red-600;
        @apply cursor-pointer hover:bg-red-700 active:bg-red-800 active:scale-95 transition-colors duration-300;
    }
}